body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-align: center;
  margin: 29px 89px;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  body {
    text-align: center;
    margin: 10px 10px;
  }
}
